


///стил для всех текстов ///
.text0{
    background-color:  #00aced;
    padding: 12px 20px;
    font-size: 18px;
    font-family: Helvetica;
    color: #fff;
    border-radius: 5px;
}
.text1{
    background-color:  #00aced;
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    font-family: Helvetica;
    border-radius: 5px;
}

.text2{
    color: #fff;
    background-color:  #00aced;
    font-size: 18px;
    padding: 12px 20px;
    font-family: Helvetica;
    border-radius: 5px;
}

.rewiev{
    font-size: 30px;
    color: #00aced;
}

.advantage{
    font-size: 23px;
    padding: 12px 0px;
    margin-bottom: 5px;
    color: #00aced;

}
///стил для всех текстов ///

///btn///

.corr{
    .head{
    margin-bottom: -80px;;
    }
   .coor{
        
        margin-bottom: -10px;
        .contract{
            margin-top: -80px;
            color: #fff;
            background-color: #00aced;
            border-color: #00aced;
            margin: 40px auto;
            margin-right: -17px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
           
        }
        .contract:hover{
            background-color: #00aced;
            border-color: #00aced;
        }
    }
}




///btn///




/// table ///
  .wok{
      p{
          margin-left: 42px;
          font-size: 18px;
          font-family: Helvetica;
          font-weight: 700;
      }
      span{
          margin-left: 52px;
          font-size: 30px;
          font-weight: 700;
          line-height: 2px;
           
      }
  }

  .wok1{
      p{
          font-size: 18px;
          font-family: Helvetica;
          font-weight: 700;
      }
      span{
          margin-left: 10px;
          line-height: 2px;
          font-size: 30px;
          font-family: Helvetica;
          font-weight: 700;
      }
  }
/// table ///


///block-img////
.img{
    ul{
        background-color:   #00aced;
        border-radius: 5px;
        padding: 12px 30px;
        position: relative;
        margin-top: -10px;

        li{
           color: #fff;
           font-size: 18px;
           font-family: Helvetica;
        }
    }
}
///block-img////


/// form ///
 .forms{
     
      padding-bottom: 12px;
      padding-top: 12px;
      border-radius: 5px;
     input{
         margin-bottom: 20px;
         font-size: 17px;
         height: 60px;
         box-shadow: 0px 0px 0px 0px;
     }
     

     .form-button{
         background-color: #00aced;
         color:#fff;
         height: 70px;
         font-size: 20px;
     }

     footer{
         h2{
             text-align: center;
         }
     }

     

     .forms-title{
         span{
             padding: 12px;
             color: #00aced;
             font-family: Trebuchet MS;
         }
     }
 }


 
 

/// form ///

.wok{
    p{
        margin-left: 42px;
        font-size: 18px;
        font-family: Helvetica;
        font-weight: 700;
    }
    span{
        margin-left: 52px;
        font-size: 30px;
        font-weight: 700;
        line-height: 2px;
         
    }
}

.wok1{
    p{
        font-size: 18px;
        font-family: Helvetica;
        font-weight: 700;
    }
    span{
        margin-left: 10px;
        line-height: 2px;
        font-size: 30px;
        font-family: Helvetica;
        font-weight: 700;
    }
}




@media screen and (max-width:568px){
    
    .head{
        font-size: 20px;
    }

    .rewiev{
        font-size: 24px;
    }

    .advantage{
        font-size: 24px;;
    }

    .text0{
        font-size: 18px;;
    }

    .text1{
        font-size: 18px;
    }

    .text2{
        font-size: 18px;;
    }

   .img{
       ul{
        li{
            font-size: 18px;
        }
       }
   }

   .wok{
    width: 40%;
    margin: auto;
    background: silver;
    overflow: hidden; /* clearfix */
    p{
        font-size: 15px;
        text-align: center;
        margin-left: -2px;;
    }
    span{
        font-size: 18px;
        margin-left: 12px;
    }
  }
  
  .wok:before {
    content: "";
    padding-top: 100%;
    float: left;
  }


  .wok1{
    width: 40%;
    margin: auto;
    background: silver;
    overflow: hidden; /* clearfix */
    p{
        font-size: 15px;
        text-align: center;
        margin-left: -2px;;
    }
    span{
        font-size: 18px;
        margin-left: 12px;
    }
  }
  
  .wok1:before {
    content: "";
    padding-top: 100%;
    float: left;
  }
  
}










@media (min-width:569px) and (max-width:768px){
    
    .forms{
        .tab2{
            font-size: 15px;
            margin-left:220px; 
        }
    }
}


@media (min-width:769px) and (max-width:920px){
    .coor{
        
        margin-bottom: -10px;
        .contract{
            margin-top: -80px;
            color: #fff;
            background-color: #00aced;
            border-color: #00aced;
            margin: 40px auto;
            margin-right: -17px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
           
        }
        .contract:hover{
            background-color: #00aced;
            border-color: #00aced;
        }
    }
}



.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}